h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;
  }
  
  ol {
    width: 100px;
    margin: 0px;
    padding: 20px;
    list-style-type: circle;
  }
  
  body {
    margin: 0px;
  }
  
  #grid {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  img {
    width: 30%;
  }
  
  #tx {
    border-left: 1px solid gray;
  }

  .links {
    text-align: center;

}

.links a {
    font-size: 12px;
    color: black;
}

@media(max-width: 900px) {
  #grid {
    font-size: 20px;
  }

  img {
    width: 300px;
  }
}

@media(max-width: 500px){
  #grid {
    display: block;
    height: none;
    border-top: 1px solid gray;
  }
  #grid ol {
    border-right: none;
    
  }
  h1 {
    border-bottom: none;
  }

  h2 {
    border-top: 1px solid gray;
  }
}